# Base de datos PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/urlshort
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DB=urlshort

# URL de tu backend (puede ser para uso en producción o local)
SPRING_URL_BACK= http://localhost:8080

# Redis
SPRING_REDIS_HOST=localhost # Dirección de Redis, puede ser 'localhost' o el nombre del servicio si usas Docker Compose
SPRING_REDIS_PORT=6379 # Puerto de Redis

# Configuración de CORS
SPRING_CORS_ALLOWED_ORIGINS= # Origen permitido para solicitudes CORS, puede cambiar en producción
